<% post.comments.each do |comment| %>
    <article class="media" style="margin-left: 70px;">
        <% if comment.user %>
        <figure class="media-left">
            <p class="image is-48x48">
                <%= image_tag comment.user.gravatar_url %>
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
            <p>
                <%= link_to  comment.user.full_name, user_path(comment.user) %>:<br>
                <%= comment.body %>
            </p>
            <small>Commented <%= time_ago_in_words(comment.created_at) %> ago.<br></small>
            <% if current_user == comment.user  %>
                <%= link_to  "Delete comment", post_comment_path(comment, comment.id), method: :delete %><br>
            </div>
        </div>
            <% end %>
        <%end%>
    </article>
    <% end %>





<!-- 
<article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Barbara Middleton</strong>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
              <br>
              <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
            </p>
          </div> -->