<h1><%= @user.full_name %>'s Profile</h1>
<% unless  current_user == @user%>
    <% if @friendship.find_by(user: current_user, friend: @user, confirmed: false) %>
        You already sent a friend request
    <% elsif @friendship.find_by(user: @user, friend: current_user, confirmed: false) %>
        <%= @friendship.find_by(user: @user, friend: current_user).user.full_name %> sent you a friend request<br>
        <button><%= link_to  "Accept", friendship_path(@friendship.find_by(user: @user, friend: current_user)), method: :put %></button>
        <button><%= link_to  "Ignore", friendship_path(@friendship.find_by(user: @user, friend: current_user)), method: :delete %></button><br>
    <% elsif current_user.friend?(@user) %>
        You and <%= @user.full_name %> are friends.
        <% if @friendship.find_by(user: current_user, friend: @user, confirmed: true) %>
            <button><%= link_to  "Unfriend", friendship_path(@friendship.find_by(user: current_user, friend: @user, confirmed: true)), method: :delete %></button><br>
        <% else %>
            <button><%= link_to  "Unfriend", friendship_path(@friendship.find_by(user: @user, friend: current_user, confirmed: true)), method: :delete %></button><br>
        <% end %>
    <% else %>
        <%= link_to  "Send Friend Request", friendships_path(friend_id: @user), method: :post %><br><br>
    <% end %>
<% end %>

<% if flash[:error_comment] %>
<ul>
    <% flash[:error_comment].each do |error| %>
    <li>Comment <%= error %></li>
    <% end %>
</ul>
<% end %>

<%= render  "posts/all_posts", posts: @posts %>