<div class="container">
    <div class="notification">
        <div class="media">
            <div class="media-left">
                <p class="image is-96x96">
                    <%= image_tag @user.gravatar_url %><br>
                </p>
            </div>
            <div class="media-content">
                <div class="content">
                    <h1 class="title", style="margin-top: 30px"><%= @user.full_name %>'s Profile</h1>
                </div>
            </div>
        </div>
        <% unless  current_user == @user%>
            <% if @friendship.find_by(user: current_user, friend: @user, confirmed: false) %>
                You already sent a friend request
            <% elsif @friendship.find_by(user: @user, friend: current_user, confirmed: false) %>
                <%= @friendship.find_by(user: @user, friend: current_user).user.full_name %> sent you a friend request<br>
                <%= link_to  "Accept", friendship_path(@friendship.find_by(user: @user, friend: current_user)), method: :put, class: "button is-success", style: "margin: 10px 0;" %>
                <%= link_to  "Ignore", friendship_path(@friendship.find_by(user: @user, friend: current_user)), method: :delete, class: "button is-danger", style: "margin: 10px 0;" %><br>
            <% elsif current_user.friend?(@user) %>
                You and <%= @user.full_name %> are friends.<br>
                <% if @friendship.find_by(user: current_user, friend: @user, confirmed: true) %>
                    <%= link_to  "Unfriend", friendship_path(@friendship.find_by(user: current_user, friend: @user, confirmed: true)), method: :delete, class: "button is-danger", style: "margin: 10px 0;" %><br>
                <% else %>
                    <%= link_to  "Unfriend", friendship_path(@friendship.find_by(user: @user, friend: current_user, confirmed: true)), method: :delete, class: "button is-danger", style: "margin: 10px 0;" %><br>
                <% end %>
            <% else %>
                <%= link_to  "Send Friend Request", friendships_path(friend_id: @user), method: :post, class: "button is-success", style: "margin: 10px 0;" %><br><br>
            <% end %>
        <% end %>

        <% if flash[:error_comment] %>
        <ul>
            <% flash[:error_comment].each do |error| %>
            <li>Comment <%= error %></li>
            <% end %>
        </ul>
        <% end %>

        <%= render  "posts/all_posts", posts: @posts %>
    </div>
</div>