<% if flash[:error_comment] %>
    <% flash[:error_comment].each do |error| %>
        <p class="alert">Comment <%= error %></p>
    <% end %>
<% end %>
<div class="container">
    <div class="notification">
        <h1 class="title">Welcome <%= current_user.full_name %></h1>

        <%= render  "posts/post_form" %><br>
        <%= render  "posts/all_posts", posts: @posts%>
        <%= render  "posts/friends_posts" %>
    </div>
</div>
