<%= form_for @post do |f| %>
    <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
    </p><p>
        <%= f.submit 'Edit' %>
    </p>
    <% if @post.errors.any? %>
    <div id="errors">
        <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
<% end %>