<% if @post.errors.any? %>
<div id="errors">
    <% @post.errors.full_messages.each do |msg| %>
        <p class="alert"><%= msg %></p>
    <% end %>
</div>
<% end %>
<%= form_for(:post, url: post_path, method: :patch) do |f| %>
    <div class="control">
        <%= f.label :body, "Update Post" %>
        <br><%= f.text_area :body, class: "textarea has-fixed-size is-primary" %><br>
    </div>
    <%= f.submit 'Edit', class: "button is-primary" %>
<% end %>